div.container
	section.posts.row
		article.post.col-lg-10.col-lg-offset-1(ng-repeat="(key, post) in Posts")
			header
				div.row
					a.col-lg-1(href="{{ post.actor.url }}")
						img.img-circle(ng-src="{{ post.actor.image.url + '&sz=45' }}")
					div.col-lg-11(style="height: 50px; line-height: 16px; padding-top: 1px;")
						div.padded-lr-5px
							a(href="{{ post.actor.url }}") {{ post.actor.displayName }}
						div.padded-lr-5px
							span.shared-public Shared Publicly &mdash; 
							a(href="{{ post.url }}") {{ post.published | date:'medium' }}
						div.padded-lr-5px
							span.plus-one(class="{{ post.object.plusoners.totalItems > 0 && 'active' || '' }}") +{{ post.object.plusoners.totalItems || 1 }}
							|  &middot; 
							span {{ post.object.replies.totalItems }} repl{{ post.object.replies.totalItems != 1 && 'ies' || 'y' }}
							|  &middot; {{ post.object.resharers.totalItems }} reshare{{ post.object.resharers.totalItems != 1 && 's' || '' }}
			section
				div.container
					div.row
						div.col-lg-10
							div.post-content(compile="post.object.content")
				div.attachments
					.attachment-item(ng-repeat="attachment in post.object.attachments")
						div.container(ng-show="attachment.objectType == 'article'", style="text-align: left;")
							a.col-lg-2(href="{{ attachment.url }}", target="_blank")
								img(ng-src="{{ attachment.image.url }}", style="max-width: 100%;")
							div.col-lg-10
								div.padded-lr-5px
									a(href="{{ attachment.url }}", target="_blank")
										strong {{ attachment.displayName }}
								div.padded-lr-5px
									a.grey(href="{{ attachment.url }}", target="_blank") {{ attachment.url }}
						div(ng-show="attachment.objectType == 'album'", style="text-align: left;")
							| Album: 
							a(href="{{ attachment.url }}", target="_blank")
								strong {{ attachment.displayName || 'View Album' }}
						a(ng-show="attachment.objectType == 'photo'", href="{{ attachment.url }}", target="_blank")
							img(ng-src="{{ attachment.image.url }}", style="max-width: 100%;")
						a(ng-show="attachment.objectType == 'album'", href="{{ attachment.thumbnails[0].url }}", target="_blank", style="display: block;")
							img(ng-src="{{ attachment.thumbnails[0].image.url }}", style="max-width: 100%;")
						div(ng-show="attachment.objectType == 'video'", style="text-align: left;")
							| Video: 
							a(href="{{ attachment.url }}", target="_blank")
								strong {{ attachment.displayName || 'Watch Video' }}
						div(ng-show="attachment.objectType == 'video' && !!attachment.embed")
							iframe(ng-src="{{ attachment.embed.url }}", style="border: none;", width="{{ attachment.image.width }}", height="{{ attachment.image.height }}")
						div(ng-show="attachment.objectType == 'video' && !attachment.embed")
							a(href="{{ attachment.url }}")
								img(ng-src="{{ attachment.image.url }}", style="max-width: 100%;")
			section.show-replies(ng-show="post.object.replies.totalItems > 0 && !RepliesLoaded(post)")
				div.container(style="text-align: center;")
					a.btn.btn-primary(ng-click="LoadReplies(post)") Load {{ post.object.replies.totalItems }} Repl{{ post.object.replies.totalItems != 1 && 'ies' || 'y' }}
			section.replies.row(ng-show="RepliesLoaded(post)")
				article.reply.col-lg-10.col-lg-offset-1(ng-repeat="reply in post.object.replies.items")
					header.row
						a.col-lg-1(href="{{ reply.actor.url }}")
							img.img-round(ng-src="{{ reply.actor.image.url + '&sz=35' }}")
						div.col-lg-11
							div.padded-lr-5px
								a(href="{{ reply.actor.url }}") {{ reply.actor.displayName }} 
								span.shared-public {{ post.published | date:'medium' }} 
								span.plus-one(class="{{ reply.plusoners.totalItems > 0 && 'active' || '' }}") +{{ reply.plusoners.totalItems || 1 }}
							div.padded-lr-5px(compile="reply.object.content")

