div#welcome-carousel.carousel.slide
	div.carousel-inner
		div.item.active
			img(src='/img/welcome/cows.png', style="min-width: 100%;", alt='')
	a.left.carousel-control(href='#welcome-carousel', data-slide='prev')
	a.right.carousel-control(href='#welcome-carousel', data-slide='next')
